/target

assets/*

# Unignore the folders you want to keep
!assets/San_Miguel/
!assets/Exterior/
!assets/vokselia_spawn/

# Unignore the specific file you want to keep
!assets/suzanne.obj

**/.DS_Store